PORT=3000
NODE_ENV=production

# Telegram Bot
TELEGRAM_BOT_TOKEN=8837709483:AAFOAOSt6Z5M9yVR-o8IHQ1eluUVHjesho8
TELEGRAM_GROUP_ID=-1004441499255
TELEGRAM_ENABLED=true
AUTO_REPLY_TELEGRAM=true

# Merchant Details
MERCHANT_NAME=CHHIV SERHOUT
MERCHANT_ACCOUNT_ID=125071714451824
BAKONG_ACCOUNT_ID=abaakhppxxx@abaa
MERCHANT_CITY=PHNOM PENH
MERCHANT_PHONE=031886850
PAYWAY_STORE=PAYWAY@ABA
PAYWAY_MERCHANT_ID=1405768
MCC_CATEGORY=4900

# Exchange Rate & Expiry
EXCHANGE_RATE_USD_TO_KHR=4100
ORDER_EXPIRY_MINUTES=15

# Telegram MTProto (Optional)
TELEGRAM_API_ID=34290516
TELEGRAM_API_HASH=e322d31671f9857d16bed34dd9269d97
TELEGRAM_SESSION=
